In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# lets prepare banking data ( paid or not paid ) for 5000 customers
np.random.seed(42)

data = {
    'CustomerID': range(1, 5001),
    'Age': np.random.normal(loc=40, scale=10, size=5000).astype(int),
    'Income': np.random.normal(loc=60000, scale=15000, size=5000).astype(int),
    'LoanAmount': np.random.normal(loc=15000, scale=5000, size=5000).astype(int),
    'CreditScore': np.random.normal(loc=700, scale=50, size=5000).astype(int),
    # paid in case of high income and credit score
}

df = pd.DataFrame(data)
df['Paid'] = np.where((df['Income'] > 50000) & (df['CreditScore'] > 650), 1, 0)
df.head(3)

# 0 means not paid, 1 means paid

   CustomerID  Age  Income  LoanAmount  CreditScore  Paid
0           1   44   53643       11607          692     1
1           2   38   53198       13472          698     1
2           3   46   33065       12013          703     0

In [13]:
# lets use very simple maths to predict if paid or not paid
# y = mx + c

# lets use the sigmoid function to map the output between 0 and 1
def sigmoid(x):
    return 1 / (1 + np.exp(-x))


def simple_model(row):
    score = (0.001 * row['Income']) + (0.005 * row['CreditScore']) - (0.0002 * row['LoanAmount']) - 0.5
    # also return  probability
    return 1 if sigmoid(score) > 0.5 else 0, sigmoid(score)

simple_models_predictions, simple_models_probabilities = zip(*df.apply(simple_model, axis=1)) 
# accuracy
accuracy = (simple_models_predictions == df['Paid']).mean()
print(f"Simple Model Accuracy: {accuracy * 100:.2f}%")

# display the data
df['simple_models_predictions']= simple_models_predictions
df['simple_models_probabilities']= simple_models_probabilities
df.head(10)

Simple Model Accuracy: 62.64%

,CustomerID,Age,Income,LoanAmount,CreditScore,Paid,simple_models_predictions,simple_models_probabilities
0,1,44,53643,11607,692,1,1,1.0
1,2,38,53198,13472,698,1,1,1.0
2,3,46,33065,12013,703,0,1,1.0
3,4,55,55048,15552,747,1,1,1.0
4,5,37,70992,20985,662,1,1,1.0
5,6,37,40886,11144,657,0,1,1.0
6,7,55,75727,20004,761,1,1,1.0
7,8,47,67316,11091,676,1,1,1.0
8,9,35,48986,10761,636,0,1,1.0
9,10,45,57877,19092,675,1,1,1.0

In [ ]:
# lets build simple NN model to predict if paid or not paid using keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
# prepare the data
X = df[['Income', 'CreditScore', 'LoanAmount']]
y = df['Paid']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)


# build the model
model = Sequential()
model.add(Dense(16, input_dim=3, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.fit(X_train, y_train, epochs=50, batch_size=32, verbose=0)
# evaluate the model
loss, accuracy = model.evaluate(X_test, y_test, verbose=0)
print(f"Neural Network Model Accuracy: {accuracy * 100:.2f}%")

In [ ]:
# NN ( Simple mathematical model, Perceptron, Multi-layer Perceptron, Deep NN, etc. )
# NLP using NN 
# RNN -- For simple sentence generation/Sentiment Analysis/ machine translation
# GRU --> This is advanced form of RNN
# LSTM --> This is advanced form of RNN
# CNN --> For text classification tasks
# Transformers --> For various NLP tasks
# BERT --> For understanding the context of words in a sentence

## Framework ---> Tensorflow, Keras, PyTorch, Huggingface, etc.

# GPT ---> Towards GenAI --> Text generation --> Application --> Agentic AI
     # Prompt Engineering
    # Few-shot Learning
    # Langchain, Langsmith, Langgraph
    # RAG - Retrieval Augmented Generation
    # Vector Databases - Pinecone, Weaviate, etc.
    # etc.


 
# DALL-E for images
# CLIP for images and text
# Stable Diffusion for images
# etc.